@model PetModel
@{
    ViewData["Title"] = "Apagar Pets";
}

<div class="text-center">

    <h2 class="display-4">Tem certeza que deseja apagar o Pet (@Model.Nome)?</h2>
</div>
<div class="d-grid gap-2">
    <a role="button" class="btn btn-primary" asp-route-id="@Model.Id" asp-controller="Pet" asp-action="Apagar">Confirmar</a>
    <a role="button" class="btn btn-danger" asp-controller="Pet" asp-action="Index">Cancelar</a>
</div>